{% extends 'baseBackOffice.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
  <div style="padding-top:  5%; padding-left: 20%;">
    <h1>Create new Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}">back to list</a>
    </div>
{% endblock %}
